{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/changepw.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="main-section">
        {% if messages %}
        <div class="top-section">
            <div class="change_success">
                {% for message in messages %}
                <i class="fas fa-check"></i> {{ message.message }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="mid-section">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <form method="POST" style="text-align:center;">
                {% csrf_token %}
                <div class="form-element">
                    {{form.old_password}}
                </div>
                <div class="form-element">
                    {{form.new_password1}}
                </div>
                <div class="form-element">
                    {{form.new_password2}}
                </div>
                <button type="submit" class="btn-signup">Save changes</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}