{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/changepw.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="main-section">
        <h2 style="text-align:center;">비밀번호 변경</h2>
        <div class="mid-section">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% if messages %}
                {% for message in messages %}
                    {{ message.message }}
                {% endfor %}
            {% endif %}
            <form method="POST" style="text-align:center;">
                {% csrf_token %}
                <div class="form-element">
                    {{form.old_password}}
                </div>
                <div class="form-element">
                    {{form.new_password1}}
                </div>
                <div class="form-element">
                    {{form.new_password2}}
                </div>
                <button type="submit" class="btn-signup">Save changes</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}