{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href='{% static "css/groupinvitation.css" %}' />
{% endblock %}

{% block content %}
<div class="main-section">
    <div class="memberList">
        <div class="listTitle">
            <div class="title_section">
                <span class="invitation_icon"><i class="fas fa-envelope"></i></span>
                <div class="group_title">
                    <span class="mygroup">{{group.name}} 초대장</span>
                    <span class="totalNum">{{member_list|length}} members</span>
                </div>
            </div>
        </div>

        <hr />
        
        <div class="members">
            {%for member in member_list%}
            <div class="member">
                <img class="user_icon" src={{member.profile.url}}></img>
                <span class="user_name">{{member.nickname}}</span>
            </div>
            {%endfor%}
        </div>

        <div class="buttons">
            <button class="btn btn-primary" type="button" onclick="location.href='{% url 'acceptInvitation' usergroup.id %}'">승인</button>
            <button class="btn btn-primary" type="button" onclick="location.href='{% url 'refuseInvitation' usergroup.id %}'">거부</button>
        </div>
    </div>

</div>
{% endblock %}