{% extends 'base.html' %}
{% load static %} 
{% block extrahead %}
<link rel="stylesheet" href='{% static "css/usercalendar.css" %}' />
{% endblock %}

{% block content %}

    <div class="main-section">
      <h3>User Calendar</h3>
      {{calendar}}
      <div id="Sidebar">
        <div class="close-section">
          <i class="fas fa-times close-Sidebar" onclick="closeSidebar()"></i>
        </div>
        <div class="Sidebar-head">
          <div class="cur-date">{{cur_year}}년 {{cur_month}}월 <span id="cur_day"></span>일</div>
          <span class="num-of-schedules"><span id="num-of-schedules"></span>개</span>의 일정이 있습니다.
        </div>
        <div class="content-section">
        </div>
        <div class="content-add-section">
          <i class="far fa-calendar-plus go-add-userschedule" data-bs-toggle="modal" data-bs-target="#UserScheduleModal"></i>
        </div>
      </div>

      <div class="modal fade" id="UserScheduleModal" tabindex="-1" aria-labelledby="UserScheduleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="UserScheduleModalLabel">새 일정 생성</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="add-userschedule_form">{% csrf_token %}
                {{form.start}}<br>
                <ul id="form-start-error"></ul>
                {{form.end}}<br>
                <ul id="form-end-error"></ul>
                {{form.title}}<br>
                <ul id="form-title-error"></ul>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary add-userschedule">생성</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script>
      let cur_year = '{{cur_year}}';
      let cur_month = '{{cur_month}}';
      let prev_month = '{{prev_month}}';
      let next_month = '{{next_month}}';
      let csrf_token = '{{csrf_token}}';

      let show_userschedule_url = '{% url "show-userschedule" %}';
      let create_userschedule_url = '{% url "create-userschedule" %}';
      let delete_userschedule_url = '{% url "delete-userschedule" %}';
      let userCalendar_view_url = "{% url 'userCalendar_view' %}";
    </script>
    <script src="{%static 'js/usercalendar.js' %}"></script>
    {% endblock %}