.navbar{
    display: flex;
    background: #838de9;
}

.nav_logo{
    margin:1rem;
}

.fa-cloud{
    font-size:2rem;
    color:#bbdefb;
    margin-right:0.75rem;
}

.nav_logo > a{
    font-size:1.5rem;
    font-weight: 800;
    text-decoration-line: none;
    color: #ede7f6;
}

.profile{
    margin:0.75rem;
    padding:0.45rem;
}

.profile > a{
    font-size:1rem;
    font-weight: 800;
    text-decoration-line: none;
    color: #ede7f6;
}

.profile > span{
    font-size:1rem;
    font-weight: 600;
    color: #ede7f6;
}
