.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #838de9;
}

.nav_logo{
    margin:1rem;
}

.fa-cloud{
    font-size:2rem;
    color:#bbdefb;
    margin-right:0.75rem;
}

.nav_logo > a{
    font-size:1.5rem;
    font-weight: 800;
    text-decoration-line: none;
    color: #ede7f6;
}

.profile{
    margin:0.75rem;
}

.profile > a{
    font-size:1rem;
    font-weight: 800;
    text-decoration-line: none;
    color: #ede7f6;
}

#bell-image{
    width:30px;
    height: 30px;
}

.notice-container{
    background-color: white;
    width:300px;
    height:400px;
    position: fixed; top: 83px; left: 53% ;
    z-index: 2;
    border-radius: 20px;
    border: 1px solid #838de9;
}


